.card.medi { border-color:var(--morado); }
.card.yoga { border-color:var(--azul); }
.card.tach { border-color:var(--celeste); }
.card.educ { border-color:var(--verde); }
.card.capa { border-color:var(--verdeAgua); }

.card.medi .cardImage img { background-image: url(../imagenes/mediCard.jpg); }
.card.yoga .cardImage img { background-image: url(../imagenes/yogaCard.jpg); }
.card.tach .cardImage img { background-image: url(../imagenes/tachCard.jpg); }
.card.educ .cardImage img { background-image: url(../imagenes/educCard.jpg); }
.card.capa .cardImage img { background-image: url(../imagenes/capaCard.jpg); }

.card.medi:hover .cardImage img { background-image: url(../imagenes/mediCardh.jpg); }
.card.yoga:hover .cardImage img { background-image: url(../imagenes/yogaCardh.jpg); }
.card.tach:hover .cardImage img { background-image: url(../imagenes/tachCardh.jpg); }
.card.educ:hover .cardImage img { background-image: url(../imagenes/educCardh.jpg); }
.card.capa:hover .cardImage img { background-image: url(../imagenes/capaCardh.jpg); }

.card.medi .cardTitle { color:var(--morado); }
.card.yoga .cardTitle { color:var(--azul); }
.card.tach .cardTitle { color:var(--celeste); }
.card.educ .cardTitle { color:var(--verde); }
.card.capa .cardTitle { color:var(--verdeAgua); }

.card.medi .cardLink { background-color:var(--morado); }
.card.yoga .cardLink { background-color:var(--azul); }
.card.tach .cardLink { background-color:var(--celeste); }
.card.educ .cardLink { background-color:var(--verde); }
.card.capa .cardLink { background-color:var(--verdeAgua); }

.generalBanner.mediBanner { background-image: url('../imagenes/mediSchedule.jpg'); background-color:var(--morado); }
.generalBanner.yogaBanner { background-image: url('../imagenes/yogaSchedule.jpg'); background-color:var(--azul); }
.generalBanner.tachBanner { background-image: url('../imagenes/tachSchedule.jpg'); background-color:var(--celeste); }
.generalBanner.educBanner { background-image: url('../imagenes/educSchedule.jpg'); background-color:var(--verde); }
.generalBanner.capaBanner { background-image: url('../imagenes/capaSchedule.jpg'); background-color:var(--verdeAgua); }

.generalBanner.mediBanner .bannerTitle span { color: var(--morado); }
.generalBanner.yogaBanner .bannerTitle span { color: var(--azul); }
.generalBanner.tachBanner .bannerTitle span { color: var(--celeste); }
.generalBanner.educBanner .bannerTitle span { color: var(--verde); }
.generalBanner.capaBanner .bannerTitle span { color: var(--verdeAgua); }

@media screen and (max-width: 600px) {
	.card.medi .cardImage img { background-position: top; }
	.card.yoga .cardImage img { background-position: 0 165px; }
	.card.tach .cardImage img { background-position: center; }
	.card.educ .cardImage img { background-position: 0 205px; }
	.card.capa .cardImage img { background-position: center; }
}
