/* vars */
:root {
  --crema: #faf6ef;
  --morado: #4b3798;
  --morado40: #B7AFD6;
  --morado20: #DBD7EA;
  --morado30: #D7D3E7;
  --morado10: #EBE9F3;	
  --azul: #255fc2;
  --azul40: #A8BFE7; 
  --azul20: #D3DFF3; 
  --celeste: #02a3eb;
  --celeste40: #9ADAF7;
  --celeste20: #CCEDFB;
  --verdeAgua: #65d199;
  --verdeAgua40: #C1EDD6;
  --verdeAgua20: #E0F6EB;
  --verde: #9adb1e;
  --verde40: #D7F1A5;
  --verde20: #EBF8D2;
  --azulFuerte: #007fd4;
  --gris: #808080;
  --cafe: #E2E1DD;
  --alturaBanner: 380px;
  --anchoPaginaMaximo: 940px;
  --bordeTarjetas: 20px;
  --bordeImagenTarjetas: 18px 18px 0 0;
  --bordeBotones: 10px 0 10px 0;
  --bordeBotonesInverso: 0 10px 0 10px;
  --bordeDescripcionDisciplina: 15px 0 15px 0;
  --bordePopup: 0 80px 0 80px;
  --sombraPopup: 20px 20px 60px 0 rgb(125 125 125 / 75%);
  --fontPage: 'Open Sans', sans-serif;
}

/* reset */
* { margin: 0; padding: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
html { width: 100%; height: 100%; color: #000; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
body { width: 100%; height: 100%; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; margin-top:0px; overflow: auto; }
body a { text-decoration: none; }
body a:hover { text-decoration: none; }  
/* General */
* { font-family: var(--fontPage) }
body { 	background-color: var(--crema); }
.cardsContainer, .footerContent, .sectionTitle, .header, .textSection, .mediumImage, .mediumImageContent, .bodyText, .bigImageContent { max-width: var(--anchoPaginaMaximo); }

/******************/
/* Banners        */
/******************/
.generalBanner { height: var(--alturaBanner); display: flex; align-items: center; background-position: 50%; background-repeat:no-repeat; }
.generalBanner .bannerTitle { margin-left: auto; margin-right: auto; max-width: var(--anchoPaginaMaximo); width: 100%; }
.generalBanner .bannerTitle span { font-size: 136px; font-weight: 600; margin-left: 60px; }

.generalBanner.postBanner { background-color: var(--crema); border-top: 1px solid grey; }

.generalBanner.blogBanner { background-image: url(/wp-content/custom-images/blogBanner.png); background-color: var(--azul); }
/* .generalBanner.blogBanner { background-image: url(../imagenes/blogBanner.png); background-color: var(--azul); } */
.generalBanner.blogBanner .bannerTitle span,
.generalBanner.postBanner .bannerTitle span { font-size:60px; align-items: center; display: block; font-style: italic;  } 

.generalBanner.blogBanner .bannerTitle span { text-align: center; color: white;  }
.generalBanner.postBanner .bannerTitle span { text-align: left; color: var(--azulFuerte); margin-top: 70px; } 

/******************/
/* Menu Principal */
/******************/
.backTopButton {
	position: fixed;
	height:67px;
	width:67px;
	right: 95px;
	bottom: 16px;
}

.headerContentHeight {
    height: 150px; /* este valor es reseteado por alturaCabecera en site.js */
}

#headerContentMain {
    top:0px;
	background-color:var(--crema);
	position: fixed;
    width: 100%;
	z-index: 10;
}

.header {
	margin-left: auto;
	margin-right: auto;
	height:100%;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-content: space-around;
}

.headerLogo { width: 120px; background-color: var(--crema); display: flex; justify-content: center; align-items: center; align-self: center; }
.headerLogo img { height:100px; }

.menuContainer {
	display:flex; flex-direction: row; border-bottom: 1px solid grey; width: calc(100% - 140px); justify-content: space-between; flex-wrap: wrap; height: 100%;
}

.header .mainMenu {
	flex-grow: 10;
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.header .mainMenu .menuOption {
	padding:10px;
	color:black;
	font-size:18px;
	transition: all 0.2s ease 0s;
}

.header .mainMenu .menuOption:hover {
	background-color:var(--gris);
	color:var(--crema);
	cursor:pointer;
	transition: all 0.7s ease 0s;
}

.header .shoppingCart, .header .social {
	flex-grow: 1;
	display:flex;
	justify-content: flex-end;
	align-items: center;
	background-color: var(--crema);
}

.header .shoppingCart ul {
	list-style:none;
	margin-bottom: unset!important;
}

.header .shoppingCart ul li a {
	color: #7f7f7f;
}

/* Esto sobreescribe los estilos del woocommerce */
#wpmenucartli {
    border: 2px solid #7f7f7f !important;
    padding: 5px;
    border-radius: 10px;
    max-width: 60px;
    height: 35px;
    overflow: hidden;
}

.woocommerce-breadcrumb a { color: black; }

li.wpmenucartli a.wpmenucart-contents span { display: unset !important; margin-left: 4px; }

.header .social a { margin: 0 6px; }
.header .social a:hover { opacity:0.4; transition: all .3s ease-in-out; }

#hamburger { display:none; }

/*************/ 
/* Cards     */
/*************/
/* https://filisantillan.com/blog/el-gran-poder-de-css3-flexbox/ */
.cardsContainer {
	margin-left: auto;
	margin-right: auto;
    padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-content: space-around;
}

body .card {
	width:280px;
	height:400px;
	margin:10px;
	padding:20px;
	cursor:pointer;
	transition: all .3s ease-in-out;
	background-color:white;
	border: 1px solid;
    display: flex;
	align-items: center;
    flex-direction: column;
	border-radius: var(--bordeTarjetas);
	-moz-border-radius: var(--bordeTarjetas);
	-webkit-border-radius: var(--bordeTarjetas);
}

.cardsContainer a:hover { text-decoration: none; }
.card.simple { height: 300px; }
.cardImage { display:flex; justify-content: space-around; margin-bottom: 5px; }
.cardImage img { 
	border: 0;
	width:240px;
	height:230px;
	padding: 48%;
	border-radius: var(--bordeImagenTarjetas);
	-moz-border-radius: var(--bordeImagenTarjetas);
	-webkit-border-radius: var(--bordeImagenTarjetas);
	transition: all .4s linear;
 }
.card:hover .cardImage img { transition: all .5s linear; }

.cardTitle {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 19px;
    text-align: center;
}
.cardDescription {
    font-size: 14px;
    color: black;
    margin-bottom: 5px;
	text-align:center;
}

.card .cardLink {
    font-size: 14px;
	padding:5px;
	text-align:center;
	left:25%;
	width:50%;
	color: white;
	border-radius: var(--bordeBotones);
	-moz-border-radius: var(--bordeBotones);
	-webkit-border-radius: var(--bordeBotones);
	transition: all .4s ease-in-out;
	border: 1px solid;
}

.card:hover .cardLink {
	border-radius: var(--bordeBotonesInverso);
	-moz-border-radius: var(--bordeBotonesInverso);
	-webkit-border-radius: var(--bordeBotonesInverso);
	transition: all .5s ease-in-out;
}

.card:hover .cardLink:hover {
	opacity: 60%;
}

/* teachers */
.card.teacher { border-color:var(--azulFuerte); }
.card.teacher .cardTitle { color:var(--azulFuerte); }
.card.teacher .cardLink { background-color:var(--azulFuerte); margin-top:15px; }

/* schedules */
.card.schedule { border-color:var(--azulFuerte); height: 260px; }
.card.schedule .cardTitle { color:var(--azulFuerte); }
.card.schedule .cardLink { background-color:var(--azulFuerte); margin-top:15px; }
.card.schedule .cardImage img { height:90px; }

/* posts */
.card.post { border-color:var(--azulFuerte); }
.card.post .cardTitle { color:var(--azulFuerte); }
.card.post .cardLink { background-color:var(--azulFuerte); margin-top:15px; }
.card.post:hover .cardImage img { opacity: 80%; }

.disciplines .card .cardDescription { height:240px; }

/************************************/
/* Imagen Grande de Fondo con Texto */
/************************************/
.bigImage.blogBackground { background-position: center; }

.bigImage {
	width:100%;
	height: 300px;
	margin-bottom: 10px;
	padding: 0 20px 0 20px;
}

.blogTitle {
	max-width: var(--anchoPaginaMaximo);
    margin-left: auto;
    margin-right: auto;
}

.blogTitle p {
	background-color: var(--azulFuerte);
    width: 410px;
    padding: 8px 6px 6px 6px;
    border-radius: 0 0 18px 18px;
    -moz-border-radius: 0 0 18px 18px;
    -webkit-border-radius: 0 0 18px 18px;
    font-size: 28px;
    color: white;
    font-weight: 600;
    text-align: center;
}

.bigImageContent {
	margin-left: auto;
    margin-right: auto;
    padding: 10px 10px 0 10px;
    margin-bottom: 10px;
    flex-direction: column;
    display: flex;
}

.bigImageText {
	width: 330px;
	max-height:140px;
	font-size: 15px;
}

.bigImageText h1 {
	font-size:bold;
}

.bigImageText p {
}

.bigImageContent h2 {
	margin-bottom: 10px;
}

.bigImageContent .link {
	display:block;
	padding:15px;
	text-align:right;
	width:330px;
	height:50px;
	cursor:pointer;
	color: var(--azulFuerte);
	transition: all 0.2s ease 0s;
	font-weight: 900;
}

.bigImageContent .link:hover {
	color: white;
	transition: all 0.6s ease 0s;
}

.blogButtons {
	display: flex;width: 330px; justify-content: space-between; margin-top: 20px;
}

.linkBlog {
	display:table;
    border: 1px solid;
    height: 36px;
    width: 160px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
	border-color: var(--azulFuerte);
	background-color: var(--azulFuerte);
    color: white;
	border-radius: var(--bordeBotones);
	-moz-border-radius: var(--bordeBotones);
	-webkit-border-radius: var(--bordeBotones);
	transition: all 0.2s ease 0s;
}

/*********/
/* Texto */
/*********/
.textSection {
	margin-left: auto;
	margin-right: auto;
    padding: 10px;
	margin-bottom: 10px;
}

.textSection .textInternal {
    margin: 20px 0;
    text-align: center;
    font-size: 20px;
	display: flex;
	justify-content: space-around;
}

.textSection .textInternal img {
	width:190px;
	height:160px;
}

.textSection .textInternal div {
	width: 75%;
	font-size: 15px;
    text-align: left;	
	margin: 0 20px;
}

.textButtons {
	display:flex;
	justify-content: space-between;
	margin: 20px 0;
}

.linkTexto {
	display:table;
    border: 1px solid;
    height: 60px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    padding: 5px;
	border-color: var(--azulFuerte);
	background-color: var(--azulFuerte);
	color: white  !important;
	border-radius: var(--bordeBotones);
	-moz-border-radius: var(--bordeBotones);
	-webkit-border-radius: var(--bordeBotones);
	transition: all 0.2s ease 0s;
}

.linkTexto span {
	display: table-cell;
    vertical-align: middle;
}

.linkTexto:hover {
	border-radius: var(--bordeBotonesInverso);
	-moz-border-radius: var(--bordeBotonesInverso);
	-webkit-border-radius: var(--bordeBotonesInverso);
	transition: all 0.5s ease 0s;
	opacity:60%;
}

/*****************/
/* Imagen Media  */
/*****************/
.mediumImage {
	margin-left: auto;
	margin-right: auto;
    /* height: 360px; */
	margin-bottom: 10px;
}

.mediumImageShadow {
    background-color: rgba(255,255,255,0);
	width:100%;
}

.mediumImageContent {
	margin-left: auto;
    margin-right: auto;
    padding: 10px;
    align-items: center;
    display: flex;
}

.mediumImageText {
	padding:40px;
	width: 35%;
}

.mediumImageText h1 {
	font-size:bold;
}

.mediumImageText p {
	line-height: 30px;
}

.mediumImageText .link {
	padding:10px;
	text-align:center;
	width:200px;
	height:40px;
	background-color:pink;
	cursor:pointer;
	display:block;
	color: red;
	transition: all 0.2s ease 0s;
}

.mediumImageText .link:hover {
	background-color:red;
	color:white;
	transition: all 0.5s ease 0s;
}

/**********/
/* Footer */
/**********/
#footerSection {
	width:100%;
	height:120px;
	background-color: #0080DB;
	color:white;
	padding: 10px;
	margin-top: 80px;
}

.footerContent {
    padding: 10px;
	margin: 0 auto;
	display: flex;
}

.footerContent > img{
    width: 90px;
}

.footerInfo {
    width: 100%;
	margin-left: 40px;
}

.footerLinks {
    display: flex;
    width: 100%;
    justify-content: space-between;
	border-bottom-color: #66ccff;
    border-bottom-width: 2px;
    border-bottom-style: solid;	
	height: 70%;
	align-items: center;
	font-weight: 700;
}

.footerLinks div a { text-decoration: none; color:white; transition: all 0.2s ease 0s;}
.footerLinks div a.socialIcon { margin:0 18px; }
.footerLinks div a:hover { opacity: 0.6; transition: all 0.5s ease 0s;}
.footerCopyright { height: 30%; font-size: 14px; }

/*****************/
/* Generales     */
/*****************/
.sectionTitle {
	margin: 30px auto 10px auto;
    padding: 10px 10px 10px 60px;
	color:var(--gris);
	margin-bottom: 10px;
	font-size:28px;
	font-weight:700;
	display: flex;
	justify-content: start;
}

/************************/
/* Blog y Publicaciones */
/************************/
.blogPost {
	width: 100%;
    height: 500px;
    padding: 0 20px 0 20px;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

.blogPost .postContent, .blogPost h2 {
	max-width: var(--anchoPaginaMaximo);
	margin-left: auto;
    margin-right: auto;
    display: flex;
}

.postImage { width: 60%; margin: 0 20px; } 
.postImage img { width:530px; height: 350px;} 
.postText { width: 40%; font-size: 15px; display: flex; flex-direction: column; justify-content: space-between; margin: 0 20px;}

.blogPost:nth-child(2n+1) { background-color: var(--cafe); }
.blogPost:nth-child(2n+1) .postContent { flex-direction: row-reverse; }
.blogPost:nth-child(2n+1) .postContent .link { background-color: var(--crema); }
.blogPost:nth-child(2n+1) .postContent .postImage { text-align: start; }

.blogPost:nth-child(2n) { background-color: var(--crema); }
.blogPost:nth-child(2n) .postContent { flex-direction: row; }
.blogPost:nth-child(2n) .postContent .link { background-color: var(--cafe);  }
.blogPost:nth-child(2n) .postContent .postImage { text-align: end; }

.blogPost h2 {
	color: var(--azulFuerte);
    text-align: center;
	height:140px;
    width: 100%;
    display: flex;
    font-size: 45px;
    font-weight: 600;
	font-style: italic;
	align-items: center;
	justify-content: center;
}

.postContent p { max-height: 260px; overflow: hidden; } 
	
.postContent .link {
	display: block;
    padding: 10px;
    text-align: center;
    width: 180px;
    height: 40px;
    cursor: pointer;
    color: black;
    transition: all 0.2s ease 0s;
    margin-bottom: 25px;
}

.postContent .link:hover {
	opacity: 0.4;
	transition: all 0.6s ease 0s;
}

@media screen and (max-width: 890px) {
	.blogPost { height: 425px; }
	.postImage img { width:430; height:284px; } 
	.postContent p { max-height: 205px; }
	.blogPost h2 { font-size: 40px; }
}

@media screen and (max-width: 750px) {
	.blogPost { height: 360px; }
	.postImage img { width:330; height:218px; } 
	.postContent p { max-height: 140px; }
	.blogPost h2 { font-size: 32px; }
}

@media screen and (max-width: 600px) {
	.blogPost { height: 300px; }
	.postImage img { width:260; height:172px; } 
	.postContent p { max-height: 100px; }
	.blogPost h2 { font-size: 26px; }
	.postImage, .postText { margin: 0 8px; }
}

@media screen and (max-width: 510px) {
	
	.blogPost:nth-child(2n+1) .postContent,
	.blogPost:nth-child(2n) .postContent { flex-direction: column-reverse; align-items: center; }
	.blogPost { height: 450px; }
	.postText { width: 90%; align-items: center; }
	.postContent p { margin-bottom: 20px; }
	.blogPost h2 { font-size: 22px; }
}

/* Publicaciones */
.bodyText {
	margin-left: auto;
	margin-right: auto;
    padding: 10px;
	margin-bottom: 10px;
}

.bodyText { max-width: 600px; }	/* sólo para ejemplo, se debe borrar */

.bodyText p { margin: 12px 0; }

.highlightText {
	display: inline-block;
	width: 250px;
	height: 260px;
	padding: 20px;
	margin: 20px -40px 20px 20px;
	background-color: var(--cafe);
	font-style: italic;
	float: right;
	font-size: 32px;
	font-weight: 300;
	line-height: 35px;
}

.divisor {
    height: 1px;
    background-color: var(--cafe);
    margin: 50px auto;
}

/*****************/
/* Popup Docente */
/*****************/
#backgroundLayer {
	position:fixed;
	width:100%;
	height:100%;
	top:0%;
	left:0%;
	background-color:white;
	opacity:0.75;
	z-index:20;
}

#teacherPopUp {
	position:fixed;
	background-color:white;
	border: 2px solid var(--azulFuerte);
	opacity:1;
	width:70%;
	height:70%;
	top:15%;
	left:15%;
	z-index:30;
	padding: 53px;
	border-radius: var(--bordePopup);
    -moz-border-radius: var(--bordePopup);
    -webkit-border-radius: var(--bordePopup);
	box-shadow: var(--sombraPopup);
	-webkit-box-shadow: var(--sombraPopup);
	-moz-box-shadow: var(--sombraPopup);
}

#teacherPopUp .close {
	width:55px;
	height:55px;
    right: 35px;
	top: 35px;
	color: white;
	font-size:32px;
	display: block;
    cursor: pointer;
	z-index: 30;
    background-color: var(--azulFuerte);
    position: absolute;
    padding: 5px 0 0 19px;
	transition: all 0.2s ease 0s;
	border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
	font-weight: normal;
    line-height: unset;
    opacity: 1;	
}

#teacherPopUp .close:hover {
    background-color: white;
	color: var(--azulFuerte);
	transition: all 0.5s ease 0s;
}

.teacherPopUpBody { 
	display:flex; 
    height: -webkit-fill-available;	
}

.teacherCV { margin-right: 0; padding-right: 50%; overflow-y: auto; z-index: 20; }
.teacherCV::-webkit-scrollbar { width: 18px; }
.teacherCV::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 45px #D5EDFB; }
.teacherCV::-webkit-scrollbar-track { margin: 65px 0 0 0; }
.teacherCV::-webkit-scrollbar-thumb:hover { background-color:#D5EDFB; }

.teacherImagen {
	position:absolute;
	left:53%;
	margin-top:40px;
	width: calc(40% - 30px);
	z-index:10;
}

.teacherImagen.bigNormal { display:block; }
.teacherImagen.mobile { display:none; }

.teacherCV ul { font-size:23px; }
.teacherCV li { display: block; }
.teacherCV li b { margin: 30px 0 0 0; display: block; }
.teacherCV cite{ color: var(--celeste); margin: 30px 0 0 0; display:block; font-size:30px;}
.teacherCV a {
	display: block;
    padding: 10px;
    width: 60%;
	left:40%;
    background-color: var(--azulFuerte);
    color: white;
    text-align: center;
	margin:20px 0 0 0;
	transition: all 0.2s ease 0s;
	border-radius: var(--bordeBotones);
	-moz-border-radius: var(--bordeBotones);
	-webkit-border-radius: var(--bordeBotones);
}

.teacherCV a:hover {
	opacity:60%;
	transition: all 0.5s ease 0s;
	border-radius: var(--bordeBotonesInverso);
	-moz-border-radius: var(--bordeBotonesInverso);
	-webkit-border-radius: var(--bordeBotonesInverso);
}

/*****************/
/* Popup Video */
/*****************/
#weArePopUp {
	position:fixed;
	background-color:#D5EDFB;
	opacity:1;
	width:70%;
	height:70%;
	top:15%;
	left:15%;
	z-index:30;
	padding: 50px;
	border-radius: var(--bordePopup);
    -moz-border-radius: var(--bordePopup);
    -webkit-border-radius: var(--bordePopup);
	box-shadow: var(--sombraPopup);
	-webkit-box-shadow: var(--sombraPopup);
	-moz-box-shadow: var(--sombraPopup);
}

.weArePopUpBody::-webkit-scrollbar { width: 18px; }
.weArePopUpBody::-webkit-scrollbar-thumb { border-radius: 10px; -webkit-box-shadow: inset 0 0 45px #007fd49e; }
.weArePopUpBody::-webkit-scrollbar-track { margin: 65px 0 0 0; }
.weArePopUpBody::-webkit-scrollbar-thumb:hover { background-color:#007fd45e; }

#weArePopUp .close {
	width:55px;
	height:55px;
    right: 35px;
	top: 35px;
	color: white;
	font-size:32px;
	display: block;
    cursor: pointer;
    background-color: var(--azulFuerte);
    position: absolute;
    padding: 5px 0 0 19px;
	transition: all 0.2s ease 0s;
	border-radius: 30px;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
	opacity: unset;
    text-shadow: unset;
    line-height: unset;
    font-weight: 500;	
}

#weArePopUp .close:hover {
    background-color: white;
	color: var(--azulFuerte);
	transition: all 0.5s ease 0s;
}

.weArePopUpBody {
	display:flex;
	width: 100%;
    height: 100%;	
	overflow-y: auto;
}

#weArePopUp h2 {
	color: var(--azulFuerte);
	margin: 20px 0 20px 0;
    font-size: 30px;	
}

#weArePopUp h3 {
	color: var(--azulFuerte);
	margin: 20px 0 00;
    font-size: 20px;
}

#weArePopUp p {
	color: black;
	padding-right: 200px;	
}

/**************/
/* Formulario */
/**************/
#indexForm {
	margin-left: 0 auto 10px auto;
	display:flex;
    flex-direction: column;
    align-items: center;	
}

#indexForm .textInternal {
    padding: 15px;
    font-size: 20px;
	display: flex;
    flex-direction: column;
    align-items: center;	
	width: 80%;
}

#formSection {
	cursor:pointer;
	display:inherit;
}

#indexForm span.question {
	display: inline-block;
	text-align:left;
	width:100%;
	font-size: 15px;
}
#indexForm span.answer {
	display: inline-block;
    width: 100%;
	text-align:left;
}

#indexForm span.answer input { height: 40px; width:100%; padding: 0 10px 0 10px; font-size: 15px; }
#indexForm span.answer textarea { height: 120px; width:100%; }

#indexForm input, #indexForm textarea {
	border: 1px solid;
    border-color: var(--azulFuerte);
    border-radius: 10px;
}

#indexForm input[type=button] {
	width: 120px;
    height: 40px;
    background-color: var(--azulFuerte);
	color:white;	
	margin-top:20px;
}

#formSection .formLink {
	display:inline;
	padding: 0 10px;
	border-radius: var(--bordeBotones);
	-moz-border-radius: var(--bordeBotones);
	-webkit-border-radius: var(--bordeBotones);
	background-color:var(--azulFuerte);
	color: white;
	transition: all .3s ease-in-out;
}

#formSection:hover .formLink {
	background-color:var(--cafe);
	color: var(--azulFuerte);
	border-radius: var(--bordeBotonesInverso);
	-moz-border-radius: var(--bordeBotonesInverso);
	-webkit-border-radius: var(--bordeBotonesInverso);
	transition: all .5s ease-in-out;
}

#formSection.open .formLink {
	background-color:unset;
	color:unset;
}

/*Para la página de Meditación*/
.productsPage.meditacion ul.products li { height: 120px; }

.banda {
	max-width: var(--anchoPaginaMaximo);
	margin-left: auto;
	margin-right: auto;
}

.infoNivel {
	display: flex;
	flex-flow: row;
}

.infoNivel > div{
	width: 50%;
}

.bandaContent {
	height: 420px;
	display: flex;
	align-items: center;		
}

.bandaContent.nivel {
	font-size:14px;
}

.descNivel {
	padding-right: 140px;
}

.bandaContent.infoGeneral, .bandaContent.pnivel, .bandaContent.tnivel {
	background-color:var(--morado30);
}
.bandaContent.intro, .bandaContent.snivel {
	background-color:var(--morado10);
}

.descNivel ul {
	margin-left: 30px;
}	

.productsPage.meditacion h1 {
	color: var(--morado);
}

.productsPage.meditacion .dataNivel span {
	color: var(--morado);
	font-weight: 700;
}

