@media screen and (max-width: 951px) {
	.productsPage header.woocommerce-products-header {
		width: 100%!important;
	}
}

@media screen and (max-width: 853px) {
	.header .mainMenu { width:100%; }	
	.social a img { width: 24px; height: 24px; }
	.header .mainMenu { justify-content: space-evenly; }
	.headerLogo { min-height: 79px;}
	
	.teacherImagen.bigNormal { display:none; }
	.teacherImagen.mobile { display:block; }
	.teacherCV { padding-right: unset; }
	.teacherImagen.mobile { position: unset; width: calc(100% - 5px); margin: unset; }
	
	#weArePopUp p { padding-right: 60px; }
}

@media screen and (max-width: 768px) {
	/* woocomerce */
	#wpmenucartli { border: 2px solid #7f7f7f !important;}
}

@media screen and (max-width: 700px) {
	.header .mainMenu .menuOption { font-size: 18px; }	
	
	/* Página de Meditación*/
	.bandaContent { height: 480px; }
}

@media screen and (max-width: 650px) {
	.textSection .textInternal img {
		width: 100px;
		height: 84px;
	}
	
	.linkTexto {
		min-height: 50px;
		width: 125px;
	}

	#weArePopUp p { padding-right: 40px; }

	.footerLinks div a.socialIcon { margin: 0; }

	/* Página de Meditación*/
	.bandaContent { height: 430px; }
	.descNivel { padding-right: 50px; }
}

@media screen and (max-width: 600px) {
	
	/* Menu Principal */
	.headerContentHeight { height: 100px; }/* este valor es reseteado por alturaCabecera en site.js */
	.headerLogo { flex-grow: 3; text-align:center; }
	#hamburger { flex-grow: 1; display:flex; justify-content: center; align-items: center; }
	.menuContainer { display: none; position: fixed; 
					top: 100px; right: 0px; z-index: 20; 
					background-color: #009de1e8; 
					height: auto; width: 50%; 
					padding: 20px; flex-direction:column; }
	.menuContainer .mainMenu {
		display: flex; 
		flex-direction:column;
		justify-content: flex-start;
		align-items: normal;
	}
	
	#wpmenucartli { background-color: white; }
	
	.header .mainMenu .menuOption { padding: 10px; color: white;}

	.header .shoppingCart, .header .social {
		justify-content: center;
		background-color:unset;
    }
	.social a img { width: 30px; height: 30px; }
	.shoppingCart { margin-top: 20px; }
	
	/* Tarjetas Disciplinas */
	.card { height: 300px; }
	.cardImage img { padding:unset; }
	.card .cardImage img { height: 140px; background-position: center; }

	/* big Image */
	.blogTitle p {

	}	
	.bigImageText {
		width: 100%;
		max-width: 330px;
	}
	
	/* Text Section */
	.textSection .textInternal { }

	/* Tarjetas Docentes */
	.card.teacher .cardImage img { height: 160px;  }
	
	/* Medium Image */
	.mediumImageText { padding: 30px; width: 90%;}	
	
	/* Form */
	#indexForm span.question,
	#indexForm span.answer { text-align: center; }
	
	/* Popup */
	#teacherPopUp { width: 90%; height: 80%; top: 15%; left: 5%; }	
	.teacherPopUpBody { flex-direction: column; overflow-y: auto; height: 100%; }
	.teacherImagen { margin: 15px; }
	.teacherPopUpBody div { margin: 15px; font-size: 15px;}
	
	#teacherPopUp { padding: 18px; }
	#weArePopUp p { font-size:15px; }
	
	/* woocommerce*/
	#wpmenucartli { background-color: var(--cafe); }
	
	/* Página de Meditación*/
	.bandaContent { height: 400px; }
	.descNivel { padding-right: 15px; }
}

@media screen and (max-width: 535px) {
	.footerLinks > div { width:50%; }
}	

@media screen and (max-width: 465px) {
	.blogTitle p, .bigImageContent .link { width: 100%; font-size: 18px; }
	.bigImageText {
		font-size: 15px;
		overflow: hidden;
	}
	
	.textSection .textInternal img {
		width: 0;
		height: 0;
	}
	
	.textSection .textInternal div {
		width: 100%;
		background-repeat: no-repeat;
		background-position: 50%;
		background-size: contain;
	}
	
	.blogButtons {
		width: 330px;
	}
	
	.linkBlog {
		font-size: 12px;
		height: 30px;
		width: 160px;
	}
	#weArePopUp { padding: 30px; }
	#weArePopUp h2 { font-size: 22px; }
	#weArePopUp p { padding-right: 10px; }
}

@media screen and (max-width: 420px) {
	.textButtons {
		flex-direction: column;
		align-items: center;
	}	
	
	.linkTexto {
		width: 60%;
		margin: 5px 0;
	}	

	.blogButtons {
		width: 270px;
	}
	
	.linkBlog {
		font-size: 12px;
		height: 30px;
		width: 120px;
	}
	
	.teacherCV ul { font-size: 18px; }
	.teacherCV cite { font-size: 20px; }	
}

@media screen and (max-width: 320px) {
	.blogTitle p, .bigImageContent .link { font-size: 15px; }
	.bigImageText {
		width: 100%;
		max-height:60px;
		font-size: 15px;
		overflow: hidden;
	}
}
