/* jssor slider loading skin spin css */
.sliderSpin { position:absolute;top:0px;left:0px;width:100%;height:100%;text-align:center;background-color:rgba(0,0,0,0.7) }

.sliderSpin img {
	animation-name: sliderSpin;
	animation-duration: 1.6s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	margin-top:-19px;position:relative;top:50%;width:38px;height:38px;
}

@keyframes sliderSpin {
	from { transform: rotate(0deg); }
	to { transform: rotate(360deg); }
}

/*jssor slider bullet skin 132 css*/
.bulletNavigator {position:absolute;}
.bulletNavigator .i {position:absolute;cursor:pointer;}
.bulletNavigator .i .b {fill:#fff;fill-opacity:0.8;stroke:#000;stroke-width:1600;stroke-miterlimit:10;stroke-opacity:0.7;}
.bulletNavigator .i:hover .b {fill:#000;fill-opacity:.7;stroke:#fff;stroke-width:2000;stroke-opacity:0.8;}
.bulletNavigator .iav .b {fill:#000;stroke:#fff;stroke-width:2400;fill-opacity:0.8;stroke-opacity:1;}
.bulletNavigator .i.idn {opacity:0.3;}

.arrowNavigator {display:block;position:absolute;cursor:pointer;}
.arrowNavigator .a {fill:none;stroke:#fff;stroke-width:360;stroke-miterlimit:10;}
.arrowNavigator:hover {opacity:.8;}
.arrowNavigator.jssora051dn {opacity:.5;}
.arrowNavigator.jssora051ds {opacity:.3;pointer-events:none;}

.svgSlider { display:block;position:relative;left:0px;top:0px; }
.svgSliderPath { position:absolute;overflow:visible; }
.bulletNavigator { position:absolute;bottom:24px;right:16px; }
.bulletNavigator .i { width:14px;height:14px; }
.bulletNavigator .i svg { position:absolute;top:0;left:0;width:100%;height:100%; }

.arrowNavigator { width:55px;height:55px;top:0px; }
.arrowNavigator.left { left:25px; }
.arrowNavigator.right { right: 25px;}
.arrowNavigator svg { position:absolute;top:0;left:0;width:100%;height:100%; }

#sliderSection, .sliderSlides { position:relative;top:0px;left:0px;width:1600px;height:var(--alturaBanner);overflow:hidden;}
#sliderSection { visibility:hidden; margin:0 auto;}
.sliderSlides {	cursor:default;}

.slideLink {
    color: black;
    background-color: white;
    position: relative;
    height: 3rem;
    width: 200px;
    display: block;
    left: calc(100% - 250px);
    top: 300px;
    letter-spacing: 6px;
    text-decoration: none;
    text-align: center;
    font-family: sans-serif;
    padding: 1rem;
	opacity: 40%;
	transform: scale(1, 1);
	transition: all 0.2s ease 0s;
}

.slideLink:hover {
	opacity: 100%;
	color: black;
	transform: scale(1.06, 1.06);
	transition: all 0.5s ease 0s;
}
