:root {
  --im1i: url('../docentes/docente1i.jpg');
  --im1f: url('../docentes/docente1f.jpg');
  --im2i: url('../docentes/docente2i.jpg');
  --im2f: url('../docentes/docente2f.jpg');
  --im3i: url('../docentes/docente3i.jpg');
  --im3f: url('../docentes/docente3f.jpg');
  --im4i: url('../docentes/docente4i.jpg');
  --im4f: url('../docentes/docente4f.jpg');
  --im5i: url('../docentes/docente5i.jpg');
  --im5f: url('../docentes/docente5f.jpg');
  --im6i: url('../docentes/docente6i.jpg');
  --im6f: url('../docentes/docente6f.jpg');
  --im7i: url('../docentes/docente7i.jpg');
  --im7f: url('../docentes/docente7f.jpg');
  --im8i: url('../docentes/docente8i.jpg');
  --im8f: url('../docentes/docente8f.jpg');
  --im9i: url('../docentes/docente9i.jpg');
  --im9f: url('../docentes/docente9f.jpg');
}


.card.teacher1 		.cardImage img { background-image: var(--im1i); }
.card.teacher1:hover .cardImage img { background-image: var(--im1f)!important; }

.card.teacher2 		.cardImage img { background-image: var(--im2i); }
.card.teacher2:hover .cardImage img { background-image: var(--im2f)!important; }

.card.teacher3 		.cardImage img { background-image: var(--im3i); }
.card.teacher3:hover .cardImage img { background-image: var(--im3f)!important; }

.card.teacher4 		.cardImage img { background-image: var(--im4i); }
.card.teacher4:hover .cardImage img { background-image: var(--im4f)!important; }

.card.teacher5 		.cardImage img { background-image: var(--im5i); }
.card.teacher5:hover .cardImage img { background-image: var(--im5f)!important; }

.card.teacher6 		.cardImage img { background-image: var(--im6i); }
.card.teacher6:hover .cardImage img { background-image: var(--im6f)!important; }

.card.teacher7 		.cardImage img { background-image: var(--im7i); }
.card.teacher7:hover .cardImage img { background-image: var(--im7f)!important; }

.card.teacher8 		.cardImage img { background-image: var(--im8i); }
.card.teacher8:hover .cardImage img { background-image: var(--im8f)!important; }

.card.teacher9 		.cardImage img { background-image: var(--im9i); }
.card.teacher9:hover .cardImage img { background-image: var(--im9f)!important; }
