.productsPage main {
	margin-left:auto;
	margin-right:auto;
	display: flex;
	flex-wrap: wrap;
	max-width: var(--anchoPaginaMaximo);
	justify-content: space-between;
}

body nav {
	margin-bottom: 0;
	z-index: 1
}

.productsPage nav.woocommerce-breadcrumb {
	width: 100%;
	padding: 30px 0;
}

.productsPage header.woocommerce-products-header {
	width: 280px;
}

.productsPage h1.page-title,
.productsPage ul.products li a img	{
	display:none;
}

.productsPage div.term-description {
	color: white;
	padding:20px;
	border-radius: var(--bordeDescripcionDisciplina);
	-moz-border-radius: var(--bordeDescripcionDisciplina);
	-webkit-border-radius: var(--bordeDescripcionDisciplina);
}

.productsPage ul.products {
	display: flex;
	width: 645px;
	flex-wrap: wrap;
	padding: 0;
	align-content: flex-start;
	margin-left: 10px;
}

.productsPage ul.products li {
	display: flex;
	width:215px;
	height:200px;
	padding:10px;
    flex-direction: column;
    justify-content: space-between;	
}

.productsPage ul.products li a.woocommerce-LoopProduct-link.woocommerce-loop-product__link { color: black; }
.productsPage ul.products li a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart { 
	margin: 6px auto 0 auto;
	color: white;
    display: block;
    padding: 8px;
    width: 130px;
	font-size: 14px;
    text-align: center; 
	border-radius: var(--bordeBotones);
	-moz-border-radius: var(--bordeBotones);
	-webkit-border-radius: var(--bordeBotones);
	transition: all 0.2s ease 0s;
}

.productsPage ul.products li a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart:hover {
	opacity:60%;
	transition: all 0.7s ease 0s;
	border-radius: var(--bordeBotonesInverso);
	-moz-border-radius: var(--bordeBotonesInverso);
	-webkit-border-radius: var(--bordeBotonesInverso);
}

.productsPage.talleres ul.products li,
.productsPage.empresas ul.products li {
    display: flex;
    width: 100%;
    height: 90px
}

.productsPage.talleres ul.products li a.add_to_cart_button,
.productsPage.empresas ul.products li a.add_to_cart_button,
.productsPage.talleres ul.products li .price, 
.productsPage.empresas ul.products li .price {
	display:none!important;
}